<div class="container">
  <div class="row">
    <span class="border border-secondary">
      <h2 class="text-center">User Info</h2>
      <div><%= image_tag customer.get_profile_image(200,200) %></div>
      <table class="table">
        <tbody>
          <tr>
            <th>Name</th>
            <th><%= customer.name %></th>
          </tr>

          <tr>
            <th>introduction</th>
            <th><%= customer.introduction %></th>
          </tr>

          <tr>
            <th>いいね一覧</th>
            <th><%#= customer.favorite %></th>
          </tr>
        </tbody>
      </table>

      <div class="nav-item">
        <%= link_to "編集", customers_information_edit_path(@customer), class: 'btn btn-outline-secondary btn-block' %>
      </div>

      <div class="nav-item">
        <%= link_to "新規登録", new_item_path, class: 'btn btn-outline-success btn-block' %>
      </div>

    </span>
  </div>
</div>