<div class="container">
  <div class="row">
    <div class="col-md-5 mt-3">
      <%= render 'public/customers/currentuser', customer: @customer %>
    </div>

    <div class="col-md-9 mt-3 mb-5">
      <h2><%= @customer.name %>さんの投稿一覧</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>投稿ID</th>
            <th>投稿名</th>
            <th>投稿者</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @items.each do |item| %>
              <td>
                <%= item.id %>
              </td>
              <td>
                <%= link_to customers_information_edi_path(item.customer.id) do %>
                  <%= image_tag item.customer.get_profile_image(80,80) %>
                <% end %>
                <%= item.name %>
              </td>
              <td><%= @customer.name %></td>
              <td>
                <%= form_with model: @customer, url: customers_information_edit_path do |f| %>
                  <div class="form-group">
                    <%= f.submit "投稿詳細", class: "btn btn-outline-secondary btn-block" %>
                  </div>
                <% end %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
