<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>投稿一覧</h2>
      <table class="table table-borderless">
        <% @items.each do |item| %>
          <div class="col-md-3">
            <%= link_to item_path(item) do %>
              <p><%= image_tag item.get_image(200,200)%></p>
            <% end %>
              <p>ID:<%= item.id %></p>
              <p>ジャンル名:<%= item.genre_name %></p>
              <p>投稿名:<%= item.name %></p>
              <p>投稿者名:<%= item.customer %></p>
          </div>
        <% end %>
      </table>
    </div>
  </div>
</div>