<div class="container">
  <div class="row">
    <h2>投稿詳細画面</h2>
    <div class="col-md-4">
      <p><%= image_tag @item.image(300,300)%></p>
    </div>

    <div class="col-md-5">
      <p><span class="line">投稿商品名:<%= @item.name %></span></p>
      <p><span class="line">商品説明:<%= @item.introduction %></span></p>
      <p><span class="line">ジャンル名:<%= @item.genre_name %></span></p>
      <p><span class="line">レビュー:<%#= @item.name %></span></p>
      <p><span class="line">評価機能:<%#= @item.name %></span></p>
      <p><span class="line"><%= link_to "投稿者:", admin_customer_path(customer.id) %></span></p>
      <!--いいね機能を追加必須-->
    </div>
  </div>
</div>

