<section class="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 cover-img" style="background-image:url('https://photo-chips.com/user_data/00001084_d824df.jpg');">
        <div class="cover-text text-center">
          <div style="color: #black;">
            <h1 class="page-top_title">
              <p>Welcome to B-MKO！</p>
              <p>レビューや商品の評価を参考に自身にあった商品をお探しください。</p>
              <p>お気に入りの商品を投稿してみてください！</p>
              <p>商品投稿には会員登録が必要になります。</p>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <section class="mission-section">
      <div class="body-line">
        <div class="text-center">
          <h2 class="page-top01_title">
            <span class="large">B-MKO</span>
          </h2>
        </div>
      </div>
    <section>
  </div>
  
  
    <div class="col-md-3">
      <div class="mb-5">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <span class="border border-5">商品一覧</span>
      </div>
    </div>

      <div class="col-md-9">
      <h2 class="text-center text-about-title">商品情報</h2>
      <table class="table table-borderless">
        <% @recommend_items.each do |item| %>
          <div class="col-md-3">
            <%= link_to item_path(item) do %>
              <p><%= image_tag item.get_image(200,200)%></p>
            <% end %>
              <p><%= item.name %></p>
              <p>￥<%= item.price %></p>
          </div>
        <% end %>
      </table>
    </div>

    <br></br>
    <div class="col-md-12">
      <div class="mb-5">
        <div class="text-center">
          <table class="table table-borderless">
            <thead>
              <tr><th>ジャンル</th></tr>
            </thead>
            <tbody>
              <% @genres.each do |genre| %>
                <tr><td><%= genre.name %></td></tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</section>