<div class="container">
  <h2><%= @customer.last_name %><%= @customer.first_name %>さんのMember Edit</h2>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
        <table class="table table-borderless">
          <tr>
            <td>Member Id</td>
            <td><%= @customer.id %></td>
          </tr>

          <tr>
            <td>Member Name</td>
            <td><%= f.text_field :last_name, class: 'btn-block' %></td>
            <td><%= f.text_field :first_name, class: 'btn-block' %></td>
          </tr>

          <tr>
            <td>Email</td>
            <td><%= f.text_field :email, class: 'btn-clock'%></td>
          </tr>

          <div id = "item-action-btn">
            <%= f.submit "Keep", class: "btn btn-default btn-lg btn-info" %>
           </div>
        </table>
      <% end %>
    </div>
  </div>
</div>