<div class="container">
  <div class="row">
    <div class="col-md-12 mx-sm-auto shadow p-3 mt-3 mb-5 bg-body rounded px-0 my-5">
      <h2 class="text-center mt-2 mb-4">登録情報詳細</h2>
      <div class="row">
        <div class="col-md-5 text-center">
          <%= image_tag @customer.get_profile_image(500,500), class: 'img-fluid' %>
        </div>

        <div class="col-md-6 mb-4">
          <table class="table boder-bottom">
            <tr>
              <td>会員ID</td>
              <td><%= @customer.id %></td>
            </tr>

            <tr>
              <td>会員名</td>
              <td><%= @customer.name %></td>
            </tr>

            <tr>
              <td>Mail</td>
              <td><%= @customer.email %></td>
            </tr>

            <tr>
              <td>会員ステータス</td>
              <td>
                <% if @customer.is_delete %>
                  <span>有効</span>
                <% else %>
                  <span>退会</span>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="item-action-btn">
        <%= link_to "編集画面へ", edit_admin_customer_path(@customer), class: "btn btn-outline-secondary" %>
        <%= link_to "Home画面へ", admin_path, class: "btn btn-outline-primary "%>
      </div>
    </div>
  </div>
</div>