<div class="container">
  <h2>
    <%= @customer.last_name %><%= @customer.first_name %>さんのMember Details
  </h2>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">col-md-10 col-md-offset-1</div>
      <table class="table table-striped">
        <tr>
          <td>Member Id</td>
          <td><%= @customer.id %></td>
        </tr>

        <tr>
          <td>Member Name</td>
          <td><%= @customer.last_name %></td>
          <td><%= @customer.first_name %></td>
        </tr>

        <!--<tr>-->
        <!--  <td>フリガナ</td>-->
        <!--  <td></td>-->
        <!--</tr>-->
        <tr>
          <td>Post Code</td>
          <td><%= @customer.postal_code %></td>
        </tr>

        <tr>
          <td>Address</td>
          <td><%= @customer.address %></td>
        </tr>

        <tr>
          <td>Phone Number</td>
          <td><%= @customer.telephone_number %></td>
        </tr>

        <tr>
          <td>Email</td>
          <td><%= @custmer.email%></td>
        </tr>

        <tr>
          <td>Member Status</td>
          <td>
            <%= if customer.is_deleted %>
              <p>有効</p>
            <% else %>
              <p>退会</p>
            <% end %>
          </td>
        </tr>
      </table>
      <div class="item-action-btn">
        <%= link_to "Edit", edit_admin_customer_path(@customer), class: "btn btn-default btn-lg btn-info" %>
        <%= link_to "Home", admin_path, class: "btn btn-default btn-lg btn-info "%>
      </div>
    </div>
  </div>
</div>
