<div class="container">
  <div class="row">
    <div class="col-md-12 mt-3 mb-5 text-center">
      <%= image_tag 'b-mko (2).jpg', size: '1000x300' %>
    </div>

    <div class="col-md-12 mb-5 text-center" style="margin-top">
      <h2 class="text-center">投稿一覧</h2>
      <table class="table table-hover table-inverse text-left">
        <thead>
          <tr>
            <th>投稿ID</th>
            <th>投稿商品名</th>
            <th>投稿者</th>
            <th>投稿ジャンル</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td>
                <%= link_to admin_item_path(item.id) do %>
                  <%= image_tag item.get_image(100,100), style: 'max-height: 130px' %><%= item.name %>
                <% end %>
              </td>
              <td><%= link_to item.customer.name, admin_customer_path(item.customer.id) %></td>
              <td><%= item.genre.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @items %>
    </div>
  </div>
</div>

