<div class="container">
  <h2>投稿商品詳細</h2>
  <div class="row">
    <div class="col-md-3 mb-5">
      <%= render 'public/customers/currentuser', customer: @item.customer %>
    </div>

    <div class="col-md-9 mb-5 border border-dark">
      <div class="text-center mt-3 mb-5">
        <%= image_tag @item.get_image(900,900), class: 'img-fluid' %>
      </div>

      <div class="mt-3 mb-5">
        <table class="table table-hover">
          <tr>
            <th>投稿者名</th>
            <td><%= @item.customer.name %></td>
          </tr>

          <tr>
            <th>投稿商品名</th>
            <td><%= @item.name %></td>
          </tr>

          <tr>
            <th>商品ジャンル</th>
            <td><%= @item.genre.name %></td>
          </tr>

          <tr>
            <th>商品説明</th>
            <td><%= @item.introduction %></td>
          </tr>

          <tr>
            <th>商品レビュー</th>
            <td><%= @item.review %></td>
          </tr>

          <tr>
            <th>評価</th>
            <td><%= render "star", item: @item %></td>
          </tr>
        </table>

      <div>
        <% if @item.favorites.exists?(customer_id: current_customer.id) %>
          <p style="font-size: 2rem;">
            <%= link_to item_favorite_path(@item), style: 'color: red;', method: :delete do %>
              ♥<%= @item.favorites.count %>
            <% end %>
          </p>
          <% else %>
          <p style="font-size: 2rem;">
            <%= link_to item_favorites_path(@item), style: 'color: gray;', method: :post do %>
              ♡<%= @item.favorites.count %>
            <% end %>
          </p>
        <% end %>
      </div>

        <div id = "item-action-btn">
          <%= link_to "編集する", edit_item_path(@item), class: 'btn btn-outline-secondary btn-block' %>
          <% if @item.customer == current_customer %>
            <%= link_to "削除", item_path(@item), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-outline-danger btn-block' %>
          <% end %>
        </div>
      </div>

      <div>
        <div>
          <h4>
            <i class="fa fa-comment" aria-hidden="true">コメント数</i>
            <%= @item.post_comments.count %>
          </h4>
        </div>
        <% @item.post_comments.each do |post_comment|%>
          <div class="mt-2 mb-2">
            <i class="fas fa-user" aria-hidden="true"></i>
            <%= post_comment.customer.name %>

            <small class="text-black-50">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <%= post_comment.created_at.strftime('%Y/%m/%d') %>
            </small>
          </div>

          <div>
            <%= simple_format(post_comment.comment, class: 'm-0 p-0') %>
          </div>

          <% if post_comment.customer == current_customer %>
            <%= link_to "削除", item_post_comment_path(post_comment.item, post_comment), method: :delete %>
          <% end %>
        <% end %>
      </div>

      <div>
        <%= form_with model: [@item, @post_comment] do |f| %>
          <div class="mb-2">
            <%= f.text_area :comment, class: "form-control", autofocus: true, placeholder: "コメントをここに", type: "comment" %>
          </div>

          <div class="mb-2">
            <%= f.submit "送信する", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

