<header class="navbar navbar-default">
  <div class="container">
    <nav class="navbar navbar-header navbar-center">
      <div class="logo">
        <% link_to root_path do %>
          <%= image_tag 'B-MKO.jpg', class: "logo_image", fallback: "ロゴ画像" %>
        <% end %>
      </div>
    </nav>

    <nav>
      <ul class="navbar navbar-nav navbar-left">
        <% if customer_signed_in? %>
          <li class="button"><%= link_to "マイページ", customer_path(current_customer) %></li>
          <li class="button"><%= link_to "商品一覧", items_path, class: 'nav-link text-dark' %></li>
          <li class="button"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %></li>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        <% else %>
          <li class="nav-item">
            <i class="fas fa-link">
              <%= link_to "About", homes_about_path, class: 'nav-link text-dark' %></li>
            </i>
          <li class="nav-item"><%= link_to "商品一覧", items_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>