<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">
      <%= link_to new_admin_session_path do %>
        <%= image_tag 'B-MKO.jpg', size: '100x100', class: "logo_image" %>
      <% end %>
    </h2>
    <ul class="channel_list">
      <% if admin_signed_in? %>
        <%= sidebar_link_item('US一覧', admin_customers_path) %>
        <%= sidebar_link_item('ログアウト', destroy_admin_session_path, method: :delete) %>
        <%= sidebar_link_item('不適切ワード一覧', %>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"></input>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      <% else %>
        <nav>
          <div class="container-fluid">
            <li class="nav-item"><%= link_to "About", homes_about_path, class: 'nav-link text-dark' %></li>
            <li class="nav-item"><%= link_to "商品一覧", items_path, class: 'nav-link text-dark' %></li>
            <li class="nav-item"><%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %></li>
            <li class="nav-item"><%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %></li>
          </div>
        </nav>
      <% end %>
    </ul>
  </div>
</div>